.env
__pycache__
.coverag*
htmlcov
*.pyc
*.pyo
pip-log.txt
pip-delete-this-directory.txt
.tox/
.cache
nosetests.xml
__init__.py

basic_mvp_data/
*.xlsx
*.csv

*.savd())

src/data/
node_modules/
src/frontend/ReactFrontEnd/

