<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Waste Optimization</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <!-- Title & navigation -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="p-5">
                <h2 class="title is-2">Food Waste Optimization</p>
                <h4 class="subtitle is-4">AI assisted model to forecast food consumption in YLVA restaurants</p>                
            </div>            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end">
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item">
                    Home
                  </a>
                  <a class="navbar-item">
                    Documentation
                  </a>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      More
                    </a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        About
                      </a>
                      <a class="navbar-item">
                        Contact
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item">
                        Report an issue
                      </a>
                    </div>
                  </div>
                </div>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-info">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <!-- Section for displaying data -->    
    <div class="pt-3">
        <div class="container is-max-desktop">
            <div class="pt-6">
                <div class="p-4">
                    <h5 class="title is-5" id="title-of-forecast">Estimated Amount of Food Waste, Chemicum</h5>
                    <canvas id="canvas-for-forecast"></canvas>            
                </div>
                <div class="buttons">
                  <button class="button is-link is-light" onClick="clickChemicum()">Chemicum</button>
                  <button class="button is-link is-light" onClick="clickExactum()">Exactum</button>
                  <button class="button is-link is-light" onClick="clickTotal()">Total</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Chart Js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 	<!-- Injected data variables, functions for buttons and for creating & updating the chart -->   
    <script>
      const injectedLabels = JSON.parse('{{ labelsFromDataRouter | tojson }}')
      const injectedLabel = '{{ singleLabelFromDataRouter | safe }}'
      const injectedDataForChemicum = JSON.parse('{{ dataFromDataRouterChemicum | tojson }}')
      const injectedDataForExactum = JSON.parse('{{ dataFromDataRouterExactum | tojson }}')
      const injectedDataTotal = JSON.parse('{{ dataFromDataRouterTotal | tojson }}')
      var dataToDisplay = injectedDataForChemicum

      const canvasForForecast = document.getElementById('canvas-for-forecast')

      const barChart = new Chart(canvasForForecast, {
        type: 'bar',
        data: {
          labels: injectedLabels,
          datasets: [{
            label: injectedLabel,
              data: dataToDisplay,
              borderWidth: 1
          }]
          },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      })

      const clickChemicum = () => {
        document.getElementById("title-of-forecast").innerHTML = 'Estimated Amount of Food Waste, Chemicum'
        dataToDisplay = injectedDataForChemicum
        updateBarChart()
      }

      const clickExactum = () => {
        document.getElementById("title-of-forecast").innerHTML = 'Estimated Amount of Food Waste, Exactum'          
        dataToDisplay = injectedDataForExactum
        updateBarChart()
      }

      const clickTotal = () => {
        document.getElementById("title-of-forecast").innerHTML = 'Estimated Amount of Food Waste, Total'          
        dataToDisplay = injectedDataTotal
        updateBarChart()
      }

      const updateBarChart = () => {
        barChart.data.datasets[0].data = dataToDisplay
        barChart.update()
      }
       
  </script>
</body>
</html>